<%- include('../partials/header') %>

    <div class="horizontal">

        <div class="vertical" id="mainPageTitle">
            <h3>ToolBar</h3>
            <div class=widget>
                <h3 id="tagSearchTitle">Welcome !!</h3>
                <p id="indDesc">
                    These are your events that have already passed. They will automatically
                    come to this page. You will not be to edit them once they come here. Hope 
                    you had an amazing time at your event and that our ap was able to help you
                    stay informed with the weather information you needed for your event!
                </p>
            </div>
            <div class="widget" class="vertical" id="search">
                <h3 id="tagSearchTitle">CLICK ON A TAG TO SEARCH!</h3>
                <div id="tagSearch">
                    <a class="tags" href="/events"> ALL </a>
                    <% tags.forEach(tag=> { %>
                    <a class="tags" href="/events?tag=<%= tag.tag.substr(1) %>"><%= tag.tag %></a>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="vertical" id="mainPageTitle">
            <h3><%= user.name %>'s <%= titlePage %></h3>
            <div id="allEventMargin">

                <% events.forEach(function(e) { %>
                    <div class="event" class="horizontal">

                        <div class="eventTable" class="horizontal">
                            <h1 class="eventTitle"><%= e.title %></h1>
                            <p class="weatherText">LOCATION: <%= e.location.locationTitle %></p>
                            <p class="weatherText">DATE: <%= e.dateOf.toLocaleDateString() %></p>
                            <p class="weatherText">TIME: <%= e.time %></p>
                            <p class="weatherText">NOTES: <%= e.notes %></p>
                            <% if(tags.length) { %>
                                <% tags.forEach(function(t) { %>
                                    <div><%= t.tag %></div>
                                <% }) %>
                            <% } else { %>
                            <h1>ADD SOME TAGS!</h1>
                            <% } %>
                        </div>

                        <% if (e.weather.length !==0) { %>

                            <div class="weatherBox" class="horizontal">
                                <h3 class="weatherTitle">WEATHER - <%= e.weather[0].createdAt.toLocaleDateString() %></h3>
                                <img src="http://openweathermap.org/img/wn/<%= e.weather[0].icon %>@2x.png">
                                <p class="weatherText">WEATHER: <%= e.weather[0].main %></p>
                                <p class="weatherText">TEMP: <%= e.weather[0].temperature %>°F</p>
                                <p class="weatherText">FEELS LIKE: <%= e.weather[0].feels_like %>°F</p>
                                <p class="weatherText">HUMIDITY: <%= e.weather[0].humidity %>%</p>
                                <p class="weatherText">WIND: <%= e.weather[0].wind_speed %>mph</p>
                            </div>
                            <% } else { %>
                            <h5>Please Add Weather In The Details Page!</h5>
                            <% } %>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>



    <%- include('../partials/footer') %>